@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix barre blanche à droite à 200% zoom */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
